<div class="jumbotron">
  <h1 class="display-4">Burger Class</h1>
  <p class="lead">Where our burgers are full of CRUD</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>

    </div>
    <div class="col-md-6">
      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/if}}
        {{/each}}
      </ul>

    </div>
  </div>
  <div class="container add-burger-form">
    <form class="create-form">
      <div class="row">
        <div class="col-md-12">
          <h2>Add a Burger</h2>
        </div>
      </div>
      <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">
        <button class="btn btn-outline-primary" type="submit">Add Burger</button>
      </div>

    </form>

  </div>
</div>

{{!-- <form class="create-form">

  <div class="form-group">

  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Regurgitate
  </div>

  <button type="submit">Add Burger</button>
</form> --}}